.cakeList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .cakeList {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .cakeList {
    flex-direction: column;
    gap: 15px;
  }
}
